body, html {
	background-color: #222226;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#cmd {
	padding: 5px;
	font-family: 'Liberation Mono', 'Courier New', monospace;
	background-color: #222226;
	border: 1px solid #aabbcc;
	color: #eeeecc;
	resize: none;
	width: 600px;
	height: 400px;
	margin: auto;
	position: relative;
}

.rainbow {
	/*color: #aaff88;*/
}

@font-face {
	font-family: 'Liberation Mono';
	src: url(../resources/LiberationMono-Regular.ttf);
	/*
	resources/LiberationMono-Regular.ttf
	 */
}