:root {
	--font-family: 'Liberation Mono', monospace;
}

body, html {
	background-color: #222226;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	color: #ffbb55;
}

#cmd {
	padding: 5px;
	font-family: var(--font-family), monospace;
	background-color: #222226;
	border: 1px solid #aabbcc;
	color: #eeeecc;
	resize: none;
	width: 600px;
	height: 400px;
	margin: auto;
	position: relative;
	text-wrap: wrap;
}

.rainbow {
	/*color: #aaff88;*/
}

@font-face {
	font-family: 'Liberation Mono';
	src: url(../resources/LiberationMono-Regular.ttf);
}